<div 
    *ngIf="arr_Fields" 
    class="playground"
    [ngStyle]= "{
        'padding' : playgroundPaddingStyle,
        'width' : playgroundWidthStyle,
        'height' : 'playgroundHeightStyle'}"

>

    <div 
        *ngFor="let row of arr_Fields" 
        class="grid-container"
        [ngStyle]="{ 'grid-template-columns': columnsStyleString}">

        <app-cell 
            *ngFor="let cell of row" 
            [field]="cell" 
            (leftClickEmitter) = "handleLeftClick($event)"
            (rightClickEmitter) = "handleRightClick($event)"
        ></app-cell>

    </div>


</div>
