.Canvas{
    display: flex;
    flex-direction: column;
    background-color: rgb(224, 224, 224);
    width: fit-content;
    height: fit-content;
    margin: auto;

    border-style: ridge;
    border-radius: 3px;
}