<div class="divider"><span></span><span>Highscore</span><span></span></div>
<div class="HighScoreContainer">
    <div class="HighScoreColumn">
        <span class="HighScoreComponentTitle">Easy</span>
        <div *ngFor="let element of this.arr_Easy" class="HighScoreComponent">
            {{element.name}} <br>
            {{element.seconds*1000 | date:'mm:ss'}}
        </div>
    </div>
    <div class="HighScoreColumn">
        <span class="HighScoreComponentTitle">Normal</span>
        <div *ngFor="let element of this.arr_Easy" class="HighScoreComponent">
            {{element.name}} <br>
            {{element.seconds*1000 | date:'mm:ss'}}
        </div>
    </div>
    <div class="HighScoreColumn">
        <span class="HighScoreComponentTitle">Hard</span>
        <div *ngFor="let element of this.arr_Easy" class="HighScoreComponent">
            {{element.name}} <br>
            {{element.seconds*1000 | date:'mm:ss'}}
        </div>
    </div>
</div>
  